button {
	background-color:red;
}

button:active {
	background-color: yellow;
}

#house:hover {
	background-color: lightblue;
}
div {
	background-color: black;
	height: 100px;
	width: 100px;
	color: yellow;
	font-size: 12px;
}





